:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --secondary-text-color: #757575;
  --button-text-color: #f5f4fa;
  --accent-color: #2196f3;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.btn {
  border: none;
}

.link {
  text-decoration: none;
}

.link:hover, .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logotip__header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.logotip__header-logo-web {
  color: #2196f3;
}

.logotip {
  margin-right: 93px;
}

.site-nav__item-link {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  color: #212121;
}

.site-nav__item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.accent-page::after {
  position: absolute;
  top: 55px;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .accent-page::after {
    top: 43px;
  }
}

.header-container {
  width: 480px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    width: 294px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__list {
    display: flex;
    align-items: center;
  }
}

.mobile-menu-open {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-menu-open_icon {
  width: 24px;
  height: 16px;
}

.mobile-menu-open_icon:hover, .mobile-menu-open_icon:focus {
  color: currentColor;
  fill: #2196f3;
}

.mob-menu {
  width: 480px;
  height: 796px;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  top: 0;
  padding: 10px 16px 0 40px;
}

.mob-menu-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list-item:hover, .mob-menu-list-item:focus {
  color: #2196f3;
}

.mob-menu-list {
  padding-top: 38px;
  margin-bottom: 302px;
}

.mob-menu-link {
  width: 219px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: currentColor;
  color: #212121;
}

.mob-menu-tel {
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-social-list {
  display: flex;
  margin-top: 65px;
  margin-bottom: 48px;
}

.mob-menu-social-item {
  margin-right: 10px;
}

.mob-menu-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.mob-menu-close {
  padding-right: 15px;
  position: absolute;
  top: 10px;
  left: 425px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: none;
}

.mob-menu-close:hover, .mob-menu-close:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.contact-list__link {
  display: inline-flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
  fill: solid #2196f3;
}

.contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin: auto;
    width: 123px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item {
    width: 116px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item {
    margin-right: 50px;
    width: 135px;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 30px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg-2x.jpg);
  }
}

.hero-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  min-width: 480px;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-btn__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--button-text-color);
}

.hero-container {
  padding-bottom: 200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-list {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-list {
    display: flex;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.list-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
  display: block;
}

@media screen and (min-width: 768px) {
  .list-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .list-title {
    text-align: start;
  }
}

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 450px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .main-text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .main-text {
    width: 270px;
  }
}

.main-list__item {
  flex-grow: 1;
}

.main-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .main-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .main-list__item {
    width: 270px;
  }
}

.main-icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-left: 190px;
}

@media screen and (min-width: 768px) {
  .main-icon {
    margin-left: 142px;
  }
}

@media screen and (min-width: 1200px) {
  .main-icon {
    margin-left: 100px;
  }
}

.main-list__icon {
  width: 450px;
  height: 120px;
  border: 1px;
  display: block;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-list__icon {
    width: 355px;
  }
}

@media screen and (min-width: 1200px) {
  .main-list__icon {
    width: 270px;
  }
}

.main-list-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-container {
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .project-section {
    display: none;
  }
}

.project-section {
  padding-bottom: 94px;
}

.project-section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.project-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.project-list__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.24;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-title-color);
}

.project-list__item {
  position: relative;
  display: block;
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  padding-bottom: 10px;
}

.proffesion {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 30px;
}

.team-list__item {
  width: 480px;
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
    height: 536px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
    height: 428px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.proffesion {
  text-align: center;
}

.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team-container {
  flex-grow: 1;
  margin-right: 15px;
  margin-left: 15px;
}

.team-list {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team-people-name {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
}

.clients-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .clients-container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-container {
    width: 1170px;
  }
}

.clients-link__icon {
  margin: 16px auto;
  display: block;
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients-link {
  margin-bottom: 30px;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-list__item {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 786px) {
  .clients-list__item {
    margin-right: 30px;
  }
}

.clients-section__title {
  padding-top: 60px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.clients-list {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 2);
}

@media screen and (min-width: 768px) {
  .clients-list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 150) / 6);
  }
}

.footer-logo_link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-form {
  display: block;
  padding-bottom: 94px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .footer-form {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

.footer-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
  display: block;
}

.form-in-email {
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #2f303a;
  color: var(--button-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-in-email:hover, .form-in-email:focus {
  border-color: #2196f3;
}

.form-button {
  margin-top: 20px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-left: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-button {
    display: flex;
    margin-top: 0;
  }
}

.form-svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .form-email {
    display: flex;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    width: 206px;
    height: 80px;
  }
}

.footer-social-list__item + .footer-social-list__item {
  margin-left: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-link-list {
  justify-content: center;
  align-items: center;
}

.footer-title {
  width: 146px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (max-width: 480px) {
  .footer-title {
    padding-left: 167px;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover, .footer-social-link:focus {
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.footer {
  width: 480px;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 66px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-social-list__item {
  margin-top: 20px;
}

.footer-social-container {
  padding-top: 65px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social-container {
    width: 768px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin-left: 70px;
    margin-top: 12px;
    width: 206px;
    height: 80px;
  }
}

.footer-container {
  width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 100%;
    align-items: baseline;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    text-align: center;
  }
}

.footer-adress-list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-adress-list {
    display: flex;
  }
}

.footer-address-contact {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address-contact {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-contact {
    margin: 0 auto;
  }
}

.address {
  width: 232px;
  height: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer {
  background-color: #2f303a;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: block;
    display: flex;
  }
}

.footer-item__link {
  margin-top: 9px;
  order: -1;
}

.footer {
  margin-top: 60px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.backbox.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.close-btn {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.close-btn:hover, .close-btn:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
}

.close-svg {
  width: 100%;
  height: 18px;
  display: block;
  color: currentColor;
}

.close-svg:hover, .close-svg:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.modal-form-list {
  display: block;
  width: auto;
  height: auto;
}

.modal-form-item {
  margin-bottom: 10px;
  position: relative;
}

.user-coment-form {
  width: 448px;
  min-height: 138px;
}

.modal-form-item {
  display: block;
  width: 448px;
  height: 58px;
}

.modal-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 15px;
}

.modal-list-contact {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;
}

.modal-list-contact:hover, .modal-list-contact:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
}

.modal-text-item {
  margin-bottom: 5px;
}

.modal-contact-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 12px;
  top: 75%;
  transform: translateY(-75%);
}

.modal-text-item {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.user-coment-form {
  margin-bottom: 20px;
}

.text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
}

.text-area:hover, .text-area:focus {
  border-color: #2196f3;
}

.button-modal-list {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  margin: auto;
  margin-top: 30px;
  transition-property: box-shadow, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-checbox-link {
  padding-left: 4px;
  color: #2196f3;
}

.modal-list-contact:hover ~ .modal-svg,
.modal-list-contact:focus ~ .modal-svg {
  cursor: pointer;
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  outline: none;
}

.checkbox-text {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  padding-left: 12px;
}

.checkbox-text span {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #212121;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox:checked + .checkbox-text span {
  background-color: #2196f3;
  border: none;
}

.button-prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.button-prof:hover, .button-prof:active {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
  .button-list {
    display: block;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    display: block;
    display: flex;
    margin-left: auto;
    justify-content: center;
  }
}

.btn-item {
  margin-right: 9px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.project-link {
  display: block;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin-left: -30px;
  }
}

.project-item {
  width: 450px;
  border-bottom: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .top-project-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .project-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    width: 370px;
  }
}

.pjoject-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-container {
  display: block;
  margin: 0 auto;
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .project-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .project-container {
    width: 1200px;
  }
}

.projects-list {
  list-style: none;
}

.project-link {
  text-decoration: none;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.project-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.top-project-text {
  display: flex;
  width: 370px;
  height: 294px;
  font-size: 18px;
  font-family: Roboto;
  line-height: 1.5;
  padding: 63px 24px;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.project-cart {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */