.footer-logo_link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer-logo {
  margin-bottom: 20px;
}
