.address {
  width: 232px;
  height: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #2f303a;
}
.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: block;
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
  }
}
.footer-item__link {
  margin-top: 8px;
  order: -1;
}
