.footer-logo_link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  @media screen and (min-width: 1200px) {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.92;
    letter-spacing: 0.03em;
  }
}
.footer-logo {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
