.logotip__header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.logotip__header-logo-web {
  color: #2196f3;
}
.logotip {
  margin-right: 93px;
}
