.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  padding-bottom: 10px;
}
.proffesion {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 30px;
}

.team-list__item {
  width: 480px;
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.proffesion {
  text-align: center;
}

.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team-container {
  flex-grow: 1;
  margin-right: 15px;
  margin-left: 15px;
}
.team-list {
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.team-people-name {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
