:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --secondary-text-color: #757575;
  --button-text-color: #f5f4fa;
  --accent-color: #2196f3;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}
